# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# Flutter
flutter_client/.dart_tool/
flutter_client/.packages
flutter_client/build/
flutter_client/.flutter-plugins
flutter_client/.flutter-plugins-dependencies
flutter_client/pubspec.lock

# Firebase
serviceAccountKey.json
*serviceAccount*.json
firebase-debug.log
.firebase/
functions/node_modules/
functions/.env

# Web
web/node_modules/
web/dist/
node_modules/

# IDE
.idea/
.vscode/
*.swp
